* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    background-color: blueviolet;
    width: 750px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url(/startsida_host_v2.97487e7b.fill-2000x800.jpg);
    background-repeat:no-repeat ;
    background-position: center;
}

.first-menu-container {
    background-color: brown;
    display: flex;
}

.first-menu-container-space {
    flex: 1;
    background-color: gray;
}

.second-menu-container {
    background-color: forestgreen;
}

.hero-text-container {
    flex: 1
}

.list-container {
    display: flex;
}

.list-container div {
    margin: 3px;
}

.second-menu-container {
    display: flex;
}

.second-menucontainer-space {
    flex: 1;
    background-color: greenyellow;
}

.logo-container img {
    background-color: pink;
    padding: 20px 40px 10px;
}

.list-container div a {
    color: white;
    text-decoration: none;
}

.list-container div a:hover {
    opacity: 20%;
}

#log-in-btn {
    background-color: tomato;
    color: white;
    text-decoration: none;
    padding: 10px;
}

#log-in-btn:hover {
    border: 3px solid green;
}